/* Positioning and sizes */
* {margin:0; padding:0; cursor:default;}
html, body {width:100%; height: 100%}
html {position:relative}
.uiElement {position:absolute; padding:10px}
input {padding:2px 4px; margin:10px 0}
#container {
	width:100%;
	height: 100%;
	background-color:#000; 
	overflow:hidden;
}

/* Colors */
html {background-color:#000; color:#EEE}
.uiElement {background-color:#222; border:1px solid #262626}
input {background-color:#262626; border:1px solid #333; color:#ddd}
input[type="button"] {background-color:#922; border:1px solid #A33}

/* Fonts */
html {font-family:sans-serif; font-size:13px}
input {font-size:13px}


/* Specific stuff */
#requirements {position:absolute; width:500px; height:60px; left:50%; top:50%;
    margin-left:-250px; margin-top:-30px;}
#requirements p {text-align:center; padding:5px; font-size:18px;
    background:rgba(30,30,40,0.8); border-radius:10px}

.startBackground {background:url(../resources/img/Image.JPEG) no-repeat center
    center; background-size:cover;}

#loginUi {width: 310px}
#loginUi input {display:block; width: 300px}
#loginUi input[type="button"] {width:100px; margin:10px 1px 0 1px; float:left}

#progress p {text-align:center; margin-bottom:10px}
#progress div.bar {width:400px; border:1px solid #333}
#progress div.filled {background-color:#922; margin:-1px 0; height:15px}

/* Message container style */
#messagesContainer {background-color:transparent; border-width:0;
    overflow:hidden; padding:5px; z-index:1;}
#messagesContainer p.publicMessage {color:#88F;}
#messagesContainer p.privateMessage {color:#FF8;}
#messagesContainer p.error {color:#F88;}

#prompt {padding:0; margin:0}
#prompt div {margin:5px; border:1px solid #333;}
#promptInput {display:block; padding:0; margin:0; border-width:0; width:100%;}

#heroStats {position:absolute; right:5px; top:5px; border-width:0;
    padding:0; margin:0; background-color:transparent;}
#heroStats p {text-align:right}
#heroStats .prop {display:inline-block; padding-left:10px}
.si {width:17px; height:17px; display:inline-block; vertical-align:-4px;
    background-image:url('../resources/img/icon_set_small.png');
    background-repeat:no-repeat}

span.damageI {background-position:-34px -85px}
span.defenseI {background-position:-34px -204px}
span.levelI {background-position:-102px -357px}
span.leadershipI {background-position:-204px -221px}
span.goldI {background-position:-170px -255px}

#worldMap h2 {text-align:center; padding-bottom:5px}
#worldMap img {margin-bottom:-5px;} /* I have no idea why this is needed */
#worldMap div {position:relative;}
#worldMap span {position:absolute; width:17px; height:17px; display:block;
    background-image:url('../resources/img/icon_set_small.png');
    background-repeat:no-repeat; background-position:0 -442px;
    margin:-8px 0 0 -8px; /* To center it (17-1)/2==8 */}
    
#miniMap {padding:3px; bottom:5px; right:5px}
#miniMap div {background-image:url('../resources/img/world_map.jpg');
    width:100%; height:100%; position:relative;}
#miniMap canvas {display:block; position:absolute; left:0; top:0; width:100%;
    height:100%;}
    
#unitSlots {bottom:5px; padding:3px;}
#unitSlots ul {list-style:none; position:relative; z-index:200;}
#unitSlots div.hero {position:absolute; width:56px; height:72px;
    margin:-4px 0 0 -4px; background-color:#822; left:159px; z-index:100;}
#unitSlots li {float:left; margin-left:4px; position:relative}
#unitSlots li img {width:48px; height:64px; display:block}
#unitSlots li p {position:absolute; bottom:0; text-align:center; width:48px;
    font-size:10px}
#unitSlots li:first-child {margin-left:0px}
#unitSlots .reserve1 img, #unitSlots .reserve2 img {opacity:0.4}

#actionButtons {width:68px; padding:0; bottom:5px; left:5px; background:none;
    border-width:0}
#actionButtons .bi {width:34px; height:34px; display:inline-block;
    background-image:url('../resources/img/icon_set_big.png');
    background-repeat:no-repeat}
#actionButtons .btn {width:34px; height:34px; display:inline-block;
    background-image:url('../resources/img/icon_set_big.png');
    background-repeat:no-repeat; margin:0}
#actionButtons .map {background-position:-408px -578px}
#actionButtons .peace {background-position:-238px -476px}
#actionButtons .flee {background-position:-102px -884px}
#actionButtons .attack {background-position:-170px -170px}
#actionButtons .inventory {background-image: url(../resources/img/btninventory.png);background-position: center center; background-size: contain;}
#actionButtons .defend {background-position:-34px -408px}
#actionButtons .blank {background:none}

#shopUi {width:400px; z-index:2;}
#shopUi .closeButton {cursor:pointer; float:right; color:#A33; font-size:20px;
    margin:-10px -8px 0 0;}
.tooltip{
	white-space: nowrap;
	z-index:9999;
}
#shopUi .units, #shopUi .items {margin-top:8px;}
#shopUi .units > div, #shopUi .items > div {position:relative; float:left; margin:1px 3px; padding:3px; background-color:#444;}
#shopUi .units > div:hover, #shopUi .items > div:hover {background-color:#A33;}
#shopUi .units img {width:48px; height:64px; display:block;}
#shopUi .units p {position:absolute; bottom:3px; text-align:center; width:48px;
    font-size:10px}
    
#unitInfoUi, #itemInfoUi {z-index:100; padding:5px; font-size:11px; border-color:#444;display: block;}
#unitInfoUi table td:nth-child(2), #itemInfoUi table td:nth-child(2) {text-align:right}
#unitInfoUi input, #itemInfoUi input {margin:5px auto 0 auto}
#unitInfoUi .arrow, #itemInfoUi .arrow {position:absolute; top:-10px; left:50%;}
#unitInfoUi .arrow div, #itemInfoUi .arrow div{border:5px solid transparent; border-bottom-color:#444;
    position:relative; left:-5px}
    
    
    
    
 /* INVENTORY */
 div.inventory-container{
	position: fixed;
	right: 0px;
	height: 100%;
	z-index: 1000;
 }
 div.weared{
 	background-size: contain;
 	background-image: url(../resources/img/wearedItems.png);
 	width: 369px;
 	height: 480px;
 	position: relative;
 }
 
  div.inventory-container div.inventory{
 	margin: auto;
 	width: 368px;
 	padding: 0;
 	position: relative;
 }
 div.inventory{
 	background-image: url(../resources/img/inventorycell.png);
 	background-size: 64.4px;
 	height: 368px;
 }
 div.inventory-cell{
 	width: 92px;
 	height: 92px;
	position: absolute;
 	margin:0px;
 }
div.weared div{
	position: absolute;
}
#helmet{
	top: 17px;
	left: 140px;
	width: 75px;
	height: 70px;
}
#armour{
	top: 100px;
	left: 131px;
	width: 92px;
	height: 103px;	
}
#weapon{
	top: 100px;
	left: 260px;
	width: 92px;
	height: 160px;	
}
#shield{
	top: 151px;
	left: 21px;
	width: 93px;
	height: 105px;
}
#pants{
	top: 221px;
	left: 131px;
	width: 93px;
	height: 105px;
}
#boots{
	top: 348px;
	left: 131px;
	width: 93px;
	height: 105px;
}
div.draggable-item{
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}
div.draggable-item.ui-draggable-dragging{
	z-index: 9998;
	width: 92px;
	height: 92px;
 	position: absolute;
}
div.itemsCount{
	position: absolute;
	bottom: 5px;
	right: 5px;
}
input.itemsCount{
	width: 40px;
}



div.tooltip{
	display: none;
	position: absolute;
	margin: auto;
	right: 0;
	top: 100%;
	background-color: rgba(0,0,0,0.5);
	border: 1px solid #444;
	z-index:100;
	padding:5px;
	font-size:11px;
}
div.tooltip.up{
	top: auto;
	bottom: 100%;
}
*:hover > div.tooltip, div.tooltip:hover{
	display: block;
}

div.tooltip table td:nth-child(2) {text-align:right}
div.tooltip > .arrow {position:absolute; top:-10px; right:10px;}
div.tooltip.up > .arrow{top:auto; bottom:-5px;}
div.tooltip > .arrow > div{border:5px solid transparent; border-bottom-color:#444;
    position:relative; left:-5px}
    
ul.unitsSlots{
	position:relative;
}

.itemsContainer .items > div{
	width:48px;
	height:64px;
	background-position: center center;
	background-size:contain;
	float:left;
	background-repeat: no-repeat;
}